/********
DEFAULT MOBILE STYLING
********/

.container {
  margin: 20px;
}

#home {
  text-align: center;
}

.social-media-icons {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.social-media-icons-link {
  text-decoration-line: none;
}