@import './variables.css';

@font-face {
	font-family: Hello;
	src: local('Hello.otf');
}

@font-face {
	font-family: Provicali;
	src: local('Provicali.otf');
}

@font-face {
	font-family: Raleway;
	src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

/********
DEFAULT MOBILE STYLING
********/

#about,
#projects {
	background-color: var(--ivory);
}

.about-me {}

body {
	margin: 0px;
}

.divider {
	border-bottom: 3px solid;
	border-color: var(--black-leather-jacket);
	width: calc(var(--divider-width) * 0.5px);
}

header {
	/* display: flex; */
}

#hello {
	font-family: 'Hello';
	font-size: 60px;
	color: var(--wheat);
	margin: 0px;
}

#home {
	background-color: var(--black-leather-jacket);
	height: calc(var(--section-height) * 1px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icons-wrapper {
	padding-top: 25px;
}

#intro {
	color: var(--ivory);
	font-family: 'Provicali';
	font-size: 23px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
}

li {
	margin: 30px 0px 30px -17px;
}

ol {
	padding-left: 15px;
	list-style: none;
}

ol li {
	display: flex;
}

ol li:nth-child(1)::before {
	content: '1';
}

ol li:nth-child(2)::before {
	content: '2';
}

ol li:nth-child(3)::before {
	content: '3';
}

ol li::before {
	font-size: 50px;
	margin-right: 15px;
	line-height: 1;
	margin-top: -10px;
}

section {
	padding: 20px;
}

.section-title {
	font-family: 'Provicali';
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: -15px auto 0px;
	text-align: center;
	background-color: var(--ivory);
	width: 125px;
	color: var(--black-leather-jacket);
}

.social-media-icons {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
}

.social-media-icons-link {
	text-decoration-line: none;
}

.text {
	color: var(--black-leather-jacket);
	font-family: 'Raleway';
}