@import './variables.css';

/********
DEFAULT MOBILE STYLING
********/
* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

#about,
#projects {
	background-color: var(--ivory);
}

.divider {
	border-bottom: 3px solid;
	border-color: var(--black-leather-jacket);
	width: calc(var(--divider-width) * 0.5px);
}

header {
	display: grid;
}

#hello {
	font-family: var(--Hello);
	font-size: 60px;
	color: var(--wheat);
}

#home {
	background-color: var(--black-leather-jacket);
	height: calc(var(--section-height) * 1px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icons-wrapper {
	padding-top: 25px;
}

#intro {
	color: var(--ivory);
	font-family: var(--Provicali);
	font-size: 23px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#left {
	margin-left: -20px;
}

li {
	margin: 30px 0px 30px -17px;
}

ol {
	padding-left: 15px;
	list-style: none;
}

ol li {
	display: flex;
}

ol li:nth-child(1)::before {
	content: '1';
}

ol li:nth-child(2)::before {
	content: '2';
}

ol li:nth-child(3)::before {
	content: '3';
}

ol li::before {
	font-size: 50px;
	margin-right: 15px;
	line-height: 1;
	margin-top: -10px;
}

#right {
	margin-right: -20px;
}

section {
	padding: 20px;
}

.section-title {
	font-family: var(--Provicali);
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: -15px auto 0px;
	text-align: center;
	background-color: var(--ivory);
	padding: 0px 10px;
	color: var(--black-leather-jacket);
}

.social-media-icons {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
}

.social-media-icons-link {
	text-decoration-line: none;
}

.text {
	color: var(--black-leather-jacket);
	font-family: var(--Raleway);
}

.white {
	color: var(--white);
}