@import './variables.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body.hidden {
  overflow: hidden;
}

.app-blurb {
  font-family: var(--Raleway);
  font-size: 14px;
  text-align: center;
  margin: 20px auto;
  width: 90%;
}

.app-details {
  display: flex;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
}

.app-name {
  font-size: 30px;
  font-family: var(--Provicali);
  letter-spacing: 1px;
  margin-left: 10px;
}

#app-name-color-vizer {
  color: var(--vizerCoral);
}

.blackout {
  position: absolute;
  z-index: 1010;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

.modal-logo {
  height: 50px;
  width: 50px;
}

.modal-mock-up {
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--section-width);
  height: calc(var(--section-height) * 0.45px);
  margin-top: 25px;
}
}

.popup-modal {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  padding: 20px;
  display: none;
  /* pointer-events: none; */
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}

.popup-modal.is--visible {
  pointer-events: auto;
  display: initial;
}

.popup-modal__close {
  float: right;
  font-family: var(--Provicali);
  font-size: 20px;
}

.project-button {
  display: inline-block;
  width: calc((var(--section-width) - 40) * 1px);
  /* border-radius: 15px; */
  margin: 20px auto;
}

.store-icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.store-icons-wrapper {
  justify-content: center;
  display: flex;
}

.vizer {
  background-color: var(--vizerPink);
}

#mock-vizer {
  background-image: url(../assets/projects/vizer-modal.png);
}


/* MEDIA QUERY */

/* .blackout.is-blacked-out {
  display: block;
} */