:root {
	--black-leather-jacket: #203323;
	--harvest-gold: #D8AD00;
	--ivory: #FFFEF4;
	--spanish-grey: #97A19A;
	--wheat: #EAD39D;

	--divider-width: 100;
	--section-height: 400;
	--section-width: 100;
}